<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>Unnamed Road,Mankoli,Bhiwandi</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>+91 9359979571</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>vpachpute22@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="">
                                <!-- <img src="https://i.pinimg.com/280x280_RS/20/a3/69/20a3690a1ec15d087d8b1a8ee320f88b.jpg" style="border-radius: 10px;" class="img-fluid" alt="logo"> -->
                                <h1 style="font-family: kalam; color: white;">ViyaFilms</h1>

                            </a>
                        </div>
                        <div class="footer-text">
                            <p>Capturing Life’s Greatest Moments</p>
                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a routerLink="">Home</a></li>
                            <li><a routerLink="images">Images</a></li>
                            <li><a routerLink="films">Films</a></li>
                            <li><a routerLink="aboutUs">About</a></li>
                            <li><a routerLink="contactUs">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50 ">
                    <div class="footer-social-icon">
                        <div class="footer-widget-heading">
                            <h3>Follow us</h3>
                        </div>
                        <a href="https://www.facebook.com/pg/Viyafilms-574312563240037/posts/?ref=page_internal"
                            target="_blank"><i class="fab fa-facebook-f facebook-bg"></i></a>
                        <a href="https://www.instagram.com/viyafilms/?hl=en"><i class="fab fa-instagram instagram-bg"
                                target="_blank"></i></a>
                        <a href="https://in.pinterest.com/viyafilms/"><i class="fab fa-pinterest pinterest-bg"
                                target="_blank"></i></a>
                        <a href="https://twitter.com/viyafilms"><i class="fab fa-twitter twitter-bg"
                                target="_blank"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 text-center ">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2022, All Right Reserved <a
                                href="hhttps://github.com/VaibhavPachpute21">Vaibhav</a></p>
                    </div>
                </div>
                <!-- <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</footer>