<section>
    <div class="banner">
        <div class="content-text text-center">
            <h1 data-aos="zoom-in">Images</h1>
        </div>
    </div>
</section>




  <!-- Image Gallary -->
  <section style="background-color: antiquewhite;padding-top: 15px;padding-bottom: 50px;">
    <div class="container text-center gallary">
        <h1 style="font-family: kalam;" data-aos="fade-up">Below are are some best of Our Images</h1>
    </div>

    <div class="container">
      <div class="container-fluid">
        <div class="row " >
          <div class="col-md-4 text-center mt-2" data-aos="fade-up">
            <img alt="Img" src="https://raw.githubusercontent.com/VaibhavPachpute21/ViyaFilms/main/src/assets/img/1%20(4).jpg" width="100%"/>
          </div>
          <div class="col-md-4 mt-2" data-aos="fade-up">
            <img alt="Img" src="https://raw.githubusercontent.com/VaibhavPachpute21/ViyaFilms/main/src/assets/img/1%20(6).jpg" width="100%" />
          </div>
          <div class="col-md-4 mt-2" data-aos="fade-up">
            <img alt="Img" src="https://raw.githubusercontent.com/VaibhavPachpute21/ViyaFilms/main/src/assets/img/1%20(2).jpg" width="100%" />
          </div>
        </div>
        <div class="row "  >
          <div class="col-md-6 mt-2" data-aos="fade-up">
            <img alt="Img" src="https://raw.githubusercontent.com/VaibhavPachpute21/ViyaFilms/main/src/assets/img/1%20(3).jpg" width="100%" />
          </div>
          <div class="col-md-6 mt-2" data-aos="fade-up">
            <img alt="Img" src="https://raw.githubusercontent.com/VaibhavPachpute21/ViyaFilms/main/src/assets/img/1%20(5).jpg" width="100%" />
          </div>
        </div>
        <div class="row " >
          <div class="col-md-3 mt-2" data-aos="fade-up">
            <img alt="Img" src="https://raw.githubusercontent.com/VaibhavPachpute21/ViyaFilms/main/src/assets/img/1%20(1).jpg" width="100%"/>
          </div>
          <div class="col-md-3 mt-2" data-aos="fade-up">
            <img alt="Img" src="https://raw.githubusercontent.com/VaibhavPachpute21/ViyaFilms/main/src/assets/img/1%20(2).jpg" width="100%" />
          </div>
          <div class="col-md-3 mt-2" data-aos="fade-up">
            <img alt="Img" src="https://raw.githubusercontent.com/VaibhavPachpute21/ViyaFilms/main/src/assets/img/1%20(4).jpg" width="100%"/>
          </div>
          <div class="col-md-3 mt-2" data-aos="fade-up">
            <img alt="Img" src="https://raw.githubusercontent.com/VaibhavPachpute21/ViyaFilms/main/src/assets/img/1%20(6).jpg" width="100%" />
          </div>
        </div>
        <div class="container text-center mt-4" >
          <a class="btn btn-outline-primary" data-aos="fade-up" href="https://www.instagram.com/viyafilms/" target="_blank">View More</a>
        </div>
      </div>
    </div>
  </section>
  


